<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Selecione o Trimestre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="frequencia"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="md list-md hydrated">
    <ion-item>
      <ion-label color="primary" class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Total de Aulas: {{ freq.totalAulas }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Total de Faltas: {{ freq.totalFaltas }}</ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item
      (click)="openFrequenciaDetailsPage(1)"
      detail="true"
      class="ios in-list ion-focusable item-label hydrated"
    >
      1º Trimestre
    </ion-item>
    <ion-item
      (click)="openFrequenciaDetailsPage(2)"
      detail="true"
      class="ios in-list ion-focusable item-label hydrated"
    >
      2º Trimestre
    </ion-item>
    <ion-item
      (click)="openFrequenciaDetailsPage(3)"
      detail="true"
      class="ios in-list ion-focusable item-label hydrated"
    >
      3º Trimestre
    </ion-item>
  </ion-list>
</ion-content>
