@import "~font-awesome/css/font-awesome.css";

i[class^="fa-"],
ion-icon[class^="fa-"] {
  font-family: "FontAwesome" !important;
}

ion-toolbar {
  --background: url("../assets/img/login.jpg") no-repeat center center / cover;

  .user-avatar {
    width: 68px;
    height: 68px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.25),
      0 0 4rem rgba(255, 255, 255, 0.45);

    ion-icon {
      color: white;
      font-size: 5em;
      position: relative;
      right: 6px;
      bottom: 6px;
    }
  }
}

// ---------------- STYLE ------------------
.common-bg {
  background-color: #fafbfc;
}

.no-margin {
  margin: 0;
}

.bold {
  font-weight: bold !important;
}

.text-white {
  color: #fff;
}

.border-bottom {
  border-bottom: 1px solid rgba(86, 61, 124, 0.1);
}

.user-profile {
  .other-data {
    .column {
      &:first-child {
        order-right: 1px solid rgba(36, 50, 157, 0.25);
      }
    }
  }
}
