<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Selecione a Disciplina</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="frequencia"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card no-margin margin-bottom class="full-width">
          <ion-item class="border-bottom" text-wrap>
            <ion-label text-wrap>Ano Letivo: {{ anoLetivo }}</ion-label>
          </ion-item>
          <ion-item class="border-bottom" text-wrap>
            <ion-label text-wrap>Trimestre: {{ trimestre }}º</ion-label>
          </ion-item>
          <ion-item class="border-bottom" text-wrap>
            <ion-label text-wrap>Total de Aulas: {{ totalAulas }}</ion-label>
          </ion-item>
          <ion-item class="border-bottom" text-wrap>
            <ion-label color="danger" text-wrap
              >Total de Faltas: {{ totalFaltas }}</ion-label
            >
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item
            *ngFor="let item of listFreq"
            (click)="openDiscDetailPage(item)"
            detail="true"
            class="ios in-list ion-focusable item-label hydrated"
          >
            {{ item.disciplina }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
