<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Frequências {{ trimestre }}º Trimestre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="frequencia"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
  <ion-list class="md list-md hydrated">
    <ion-item
      class="item ios in-list ion-focusable item-label hydrated"
      *ngFor="let aula of aulas"
    >
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>Data: {{ functions.dateFormat(aula.data) }}</h2>
        <h3>Tempo: {{ aula.tempo }}º</h3>
        <h3>Presença: {{ aula.presenca ? "Presente" : "Ausente" }}</h3>
        <p>Conteúdo: {{ aula.conteudo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
