<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Frequências {{ trimestre }}º Trimestre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="frequencia"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card no-margin margin-bottom class="full-width">
          <ion-item class="border-bottom" text-wrap>
            <ion-label text-wrap>Disciplina: {{ freq.disciplina }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-row>
        <ion-list class="md list-md hydrated">
          <ion-item
            class="item ios in-list ion-focusable item-label hydrated"
            *ngFor="let aula of freq.listFreq"
          >
            <ion-label
              class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated"
              text-wrap
            >
              <h2>Data: {{ functions.dateFormat(aula.data) }}</h2>
              <h3>Tempo: {{ aula.tempo }}º</h3>
              <h3>Presença: {{ aula.presenca ? "Presente" : "Ausente" }}</h3>
              <p style="text-align: justify">Conteúdo: {{ aula.conteudo }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
