// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import "~font-awesome/css/font-awesome.css";

i[class^="fa-"],
ion-icon[class^="fa-"] {
  font-family: "FontAwesome" !important;
}

// ---------------- STYLE ------------------
.common-bg {
  background-color: #fafbfc;
}

.no-margin {
  margin: 0;
}

.border-bottom {
  border-bottom: 1px solid rgba(86, 61, 124, 0.1);
}

// style for ion-icon
ion-icon[ng-reflect-disabled="true"] {
  color: #fafbfc;
  pointer-events: none;
}

/* CORES PARA O CALENDÁRIO */
.feriado {
  background-color: aquamarine !important;
}